.search_field input[type='text'] {
  border: solid 1px var(--search-border);
  background: var(--search-bg);
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  color: #fff;
}
.search_field input[type='text']:focus {
  border: solid 10px var(--field-bg);
}

